<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @listing.host %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Long:</strong>
  <%= @listing.long %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @listing.lat %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @listing.country_code %>
</p>

<p>
  <strong>Max :</strong>
  <%= @listing.max_ %>
</p>

<p>
  <strong>Guests:</strong>
  <%= @listing.guests %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @listing.rooms %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @listing.beds %>
</p>

<p>
  <strong>Shared:</strong>
  <%= @listing.shared %>
</p>

<p>
  <strong>Min n:</strong>
  <%= @listing.min_n %>
</p>

<p>
  <strong>Ights:</strong>
  <%= @listing.ights %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
