<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @listing.host.email %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>


<p>
  <strong>Address:</strong>
  <%= @listing.full_address %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @listing.country.name %>
</p>

<p>
  <strong>Max :</strong>
  <%= @listing.max_ %>
</p>

<p>
  <strong>Guests:</strong>
  <%= @listing.guests %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @listing.rooms %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @listing.beds %>
</p>

<p>
  <strong>Shared:</strong>
  <%= @listing.shared %>
</p>

<p>
  <strong>Min n:</strong>
  <%= @listing.min_n %>
</p>

<p>
  <strong>Ights:</strong>
  <%= @listing.ights %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
